<div>
    <h2>
        <span jhiTranslate="spaceBookApp.airline.home.title">Airlines</span>
        <button class="btn btn-primary float-right jh-create-entity create-airline" [routerLink]="['/', { outlets: { popup: ['airline-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="spaceBookApp.airline.home.createLabel">
            Create new Airline
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'spaceBookApp.airline.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="airlines">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="spaceBookApp.airline.code">Code</span></th>
            <th><span jhiTranslate="spaceBookApp.airline.name">Name</span></th>
            <th><span jhiTranslate="spaceBookApp.airline.description">Description</span></th>
            <th><span jhiTranslate="spaceBookApp.airline.logo">Logo</span></th>
            <th><span jhiTranslate="spaceBookApp.airline.member">Member</span></th>
            <th><span jhiTranslate="spaceBookApp.airline.airline">Airline</span></th>
            <th><span jhiTranslate="spaceBookApp.airline.airline">Airline</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let airline of airlines ;trackBy: trackId">
                <td><a [routerLink]="['../airline', airline.id ]">{{airline.id}}</a></td>
                <td>{{airline.code}}</td>
                <td>{{airline.name}}</td>
                <td>{{airline.description}}</td>
                <td>
                    <a *ngIf="airline.logo" (click)="openFile(airline.logoContentType, airline.logo)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="airline.logo">{{airline.logoContentType}}, {{byteSize(airline.logo)}}</span>
                </td>
                <td>
                    <div *ngIf="airline.member">
                        <a [routerLink]="['../group-airline-alliance', airline.member?.id ]" >{{airline.member?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="airline.airline">
                        <a [routerLink]="['../segment', airline.airline?.id ]" >{{airline.airline?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="airline.airline">
                        <a [routerLink]="['../config-fees', airline.airline?.id ]" >{{airline.airline?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../airline', airline.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'airline/'+ airline.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'airline/'+ airline.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
