<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAirportLabel" jhiTranslate="spaceBookApp.airport.home.createOrEditLabel">Create or edit a Airport</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!airport.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="airport.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.airport.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="airport.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.airport.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="airport.code" required/>
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.airport.origin" for="field_origin">Origin</label>
            <select class="form-control" id="field_origin" name="origin" [(ngModel)]="airport.origin">
                <option [ngValue]="null"></option>
                <option [ngValue]="segmentOption.id === airport.origin?.id ? airport.origin : segmentOption" *ngFor="let segmentOption of origins; trackBy: trackSegmentById">{{segmentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.airport.destination" for="field_destination">Destination</label>
            <select class="form-control" id="field_destination" name="destination" [(ngModel)]="airport.destination">
                <option [ngValue]="null"></option>
                <option [ngValue]="segmentOption.id === airport.destination?.id ? airport.destination : segmentOption" *ngFor="let segmentOption of destinations; trackBy: trackSegmentById">{{segmentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.airport.town" for="field_town">Town</label>
            <select class="form-control" id="field_town" name="town" [(ngModel)]="airport.town" >
                <option [ngValue]="null"></option>
                <option [ngValue]="townOption.id === airport.town?.id ? airport.town : townOption" *ngFor="let townOption of towns; trackBy: trackTownById">{{townOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
