<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPhoneInBookingLabel" jhiTranslate="spaceBookApp.phoneInBooking.home.createOrEditLabel">Create or edit a Phone In Booking</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!phoneInBooking.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="phoneInBooking.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.phoneInBooking.phoneType" for="field_phoneType">Phone Type</label>
            <select class="form-control" name="phoneType" [(ngModel)]="phoneInBooking.phoneType" id="field_phoneType"  required>
                <option value="ACCOMODATION">{{'spaceBookApp.PhoneType.ACCOMODATION' | translate}}</option>
                <option value="AGENCY">{{'spaceBookApp.PhoneType.AGENCY' | translate}}</option>
                <option value="EMAIL">{{'spaceBookApp.PhoneType.EMAIL' | translate}}</option>
                <option value="FAX">{{'spaceBookApp.PhoneType.FAX' | translate}}</option>
                <option value="HOME">{{'spaceBookApp.PhoneType.HOME' | translate}}</option>
                <option value="MOBILE">{{'spaceBookApp.PhoneType.MOBILE' | translate}}</option>
                <option value="NOCONTACT">{{'spaceBookApp.PhoneType.NOCONTACT' | translate}}</option>
                <option value="OTHER">{{'spaceBookApp.PhoneType.OTHER' | translate}}</option>
                <option value="WORK">{{'spaceBookApp.PhoneType.WORK' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.phoneType?.dirty && editForm.controls.phoneType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.phoneType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.phoneInBooking.number" for="field_number">Number</label>
            <input type="text" class="form-control" name="number" id="field_number"
                [(ngModel)]="phoneInBooking.number" required/>
            <div [hidden]="!(editForm.controls.number?.dirty && editForm.controls.number?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.number?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.phoneInBooking.phones" for="field_phones">Phones</label>
            <select class="form-control" id="field_phones" name="phones" [(ngModel)]="phoneInBooking.phones" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bookingOption.id === phoneInBooking.phones?.id ? phoneInBooking.phones : bookingOption" *ngFor="let bookingOption of bookings; trackBy: trackBookingById">{{bookingOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
