<div>
    <h2>
        <span jhiTranslate="spaceBookApp.airLoyalty.home.title">Air Loyalties</span>
        <button class="btn btn-primary float-right jh-create-entity create-air-loyalty" [routerLink]="['/', { outlets: { popup: ['air-loyalty-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="spaceBookApp.airLoyalty.home.createLabel">
            Create new Air Loyalty
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'spaceBookApp.airLoyalty.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="airLoyalties">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="spaceBookApp.airLoyalty.number">Number</span></th>
            <th><span jhiTranslate="spaceBookApp.airLoyalty.card">Card</span></th>
            <th><span jhiTranslate="spaceBookApp.airLoyalty.card">Card</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let airLoyalty of airLoyalties ;trackBy: trackId">
                <td><a [routerLink]="['../air-loyalty', airLoyalty.id ]">{{airLoyalty.id}}</a></td>
                <td>{{airLoyalty.number}}</td>
                <td>
                    <div *ngIf="airLoyalty.card">
                        <a [routerLink]="['../passenger', airLoyalty.card?.id ]" >{{airLoyalty.card?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="airLoyalty.card">
                        <a [routerLink]="['../airline', airLoyalty.card?.id ]" >{{airLoyalty.card?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../air-loyalty', airLoyalty.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'air-loyalty/'+ airLoyalty.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'air-loyalty/'+ airLoyalty.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
