<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPassengerLabel" jhiTranslate="spaceBookApp.passenger.home.createOrEditLabel">Create or edit a Passenger</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!passenger.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="passenger.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.passenger.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="passenger.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.passenger.surname" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                [(ngModel)]="passenger.surname" required/>
            <div [hidden]="!(editForm.controls.surname?.dirty && editForm.controls.surname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.surname?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.passenger.middlename" for="field_middlename">Middlename</label>
            <input type="text" class="form-control" name="middlename" id="field_middlename"
                [(ngModel)]="passenger.middlename" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.passenger.nameRemark" for="field_nameRemark">Name Remark</label>
            <input type="text" class="form-control" name="nameRemark" id="field_nameRemark"
                [(ngModel)]="passenger.nameRemark" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.passenger.title" for="field_title">Title</label>
            <select class="form-control" name="title" [(ngModel)]="passenger.title" id="field_title" >
                <option value="MR">{{'spaceBookApp.TitlePassenger.MR' | translate}}</option>
                <option value="MRS">{{'spaceBookApp.TitlePassenger.MRS' | translate}}</option>
                <option value="MISS">{{'spaceBookApp.TitlePassenger.MISS' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.passenger.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="passenger.type" id="field_type" >
                <option value="ADT">{{'spaceBookApp.TypePassenger.ADT' | translate}}</option>
                <option value="CHD">{{'spaceBookApp.TypePassenger.CHD' | translate}}</option>
                <option value="INF">{{'spaceBookApp.TypePassenger.INF' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.passenger.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                [(ngModel)]="passenger.age" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.passenger.birthday" for="field_birthday">Birthday</label>
            <div class="input-group">
                <input id="field_birthday" type="text" class="form-control" name="birthday" ngbDatepicker  #birthdayDp="ngbDatepicker" [(ngModel)]="passenger.birthday"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="birthdayDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.passenger.passportNumber" for="field_passportNumber">Passport Number</label>
            <input type="text" class="form-control" name="passportNumber" id="field_passportNumber"
                [(ngModel)]="passenger.passportNumber" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.passenger.enterprise" for="field_enterprise">Enterprise</label>
            <select class="form-control" id="field_enterprise" name="enterprise" [(ngModel)]="passenger.enterprise" >
                <option [ngValue]="null"></option>
                <option [ngValue]="corporateOption.id === passenger.enterprise?.id ? passenger.enterprise : corporateOption" *ngFor="let corporateOption of corporates; trackBy: trackCorporateById">{{corporateOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="spaceBookApp.passenger.booking" for="field_booking">Booking</label>
            <select class="form-control" id="field_booking" name="booking" [(ngModel)]="passenger.booking" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bookingOption.id === passenger.booking?.id ? passenger.booking : bookingOption" *ngFor="let bookingOption of bookings; trackBy: trackBookingById">{{bookingOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
